body {
    background-image: url('../../assets/img/ Loginfood.jpg'); /* Replace with the actual path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Set the height */
    width: 300px; /* Set the width */
}
